<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>COMACON</title>
        @*Stylesheets*@
        <link rel="stylesheet" href="~/css/style_webserver.css">
        @*Scripts*@
        <script src="~/js/WebServer_Core.js"></script>
        <script src="~/js/GeneralWebApplication.js"></script>
        <script src="~/js/ApplicationServer.js"></script>
        <script src="~/js/ReportingViewerServer.js"></script>
        <script src="~/js/GatewayCachingServer.js"></script>
        <script src="~/js/AgendaOnlineServer.js"></script>
        <script src="~/js/ElectronicPlanReview.js"></script>
        <script src="~/js/HealthcareFormManager.js"></script>
        <script src="~/js/PublicAccessViewerNextGen.js"></script>
        <script src="~/js/PublicAccessViewerLegacy.js"></script>
        <script src="~/js/OnBasePatientWindow.js"></script>
        <script src="~/js/LocalConfigFile_Core.js"></script>
    </head>
    <body id="myBody">
        <template id="DiagnosticsSettingsRouteProfiles">
            <div class="setting-element">
                <input type="checkbox" name="" id="input" class="Profiles" onclick="">
                <label for="label"></label>
            </div>
        </template>
        <!-- Choose Web Application Modal Window -->
        <div id="chooseWebApplicationModal" class="chooseWebApplicationModal">
            <!-- Modal content -->
            <div class="chooseWebApplicationModal-content">
                <!-- Modal header -->
                <div id="ChooseApplicationTitleBar" class="ChooseApplicationTitleBar">
                    <div>
                        <h2>Choose Application</h2>
                    </div>
                    <div>
                        <span class="close" onclick="closeModalX()">&times;</span>
                    </div>
                </div>
                <!-- Loading Web Applications Progress Bar -->
                <div id="Loading-Web-Applications-Progress-Section" class="loadingWebApplicationsProgressSection">
                    <label class="loadingWebApplicationsProgressLabel" for="Loading-Web-Applications-Progress-Bar">Getting Web Applications...</label>
                    <progress class="loadingWebApplicationsProgressBar" id="Loading-Web-Applications-Progress-Bar"></progress>
                </div>
                <div id="chooseWebApplicationModal-Table-Buttons-Container" class="chooseWebApplicationModalTableButtonsContainer">
                    <!-- Modal body -->
                    <div class="chooseWebApplicationModal-Table-Wrapper">
                        <table id="webApplicationTable">
                            <thead>
                                <tr>
                                    <th number=1 id="table-head-Name" onclick="sortTable(0,'webApplicationTable')">Name</th>
                                    <th number=2 id="table-head-Type" onclick="sortTable(1,'webApplicationTable')">Type</th>
                                    <th number=3 id="table-head-Version" onclick="sortTable(2,'webApplicationTable')">Version</th>
                                    <th number=4 id="table-head-Site" onclick="sortTable(3,'webApplicationTable')">Site</th>
                                    <th number=5 id="table-head-Location" onclick="sortTable(4,'webApplicationTable')">Location</th>
                                    <th number=6 id="table-head-Bitness" onclick="sortTable(5,'webApplicationTable')">Bitness</th>
                                </tr>
                            </thead>
                            <!-- <tbody></tbody> -->
                        </table>
                    </div>
                    <div class="chooseWebApplication-Buttons">
                        <button id="Refresh-Button" class="chooseWebApplication-RefreshButton" onclick="loadWebApplications()">Refresh</button>
                        <button id="Open-Button" class="chooseWebApplication-OpenButton" onclick="okButtonClicked()">Open</button>
                        <button id="Cancel-Button-ChooseWebApplication" class="chooseWebApplication-CancelButton" onclick="closeModalX()">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Copy Web Application Modal -->
        <div id="CopyWebApplicationModal" class="CopyWebApplicationModal">
            <!-- Window Container -->
            <div id="CopyWebApplicationModal-Container" class="CopyWebApplicationModal-Container">
                <!-- Title Bar Container for styling -->
                <div class="CopyWebApplicationModal-TitleBar-Container-Styling">
                    <!-- Actual Title Bar Container -->
                    <div class="CopyWebApplicationModal-TitleBar-Container">
                        <h2>Copy Web Application</h2>
                        <span class="close" onclick="closeCopyWebApplicationModal()">&times;</span>
                    </div>
                </div>
                <!-- Body Section -->
                <div class="CopyWebApplicationModal-BodySection">
                    <!-- Information Section -->
                    <div class="CopyWebApplicationModal-Body-InformationSection">
                        <p>All settings and Application folder location will be copied from the existing application.<br>(<span class="underline">NOTE: Application Name/Pool Name must be unique.</span>)</p>
                    </div>
                    <!-- Field Section -->
                    <div class="CopyWebApplicationModal-BodySection-FieldSection">
                        <!-- Field Container -->
                        <div class="CopyWebApplicationModal-Body-FieldContainer">
                            <!-- Label -->
                            <div class="CopyWebApplicationModal-Body-FieldContainer-Label">
                                <label for="CopyWebApplicationModal-NewApplicationName">New Application Name: </label><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                                <span class="tooltiptext">This is the help text.</span>
                            </div>
                            <!-- Field -->
                            <div class="CopyWebApplicationModal-Body-FieldContainer-Field">
                                <input id="CopyWebApplicationModal-NewApplicationName" type="text" onfocusout="validateNoDuplicateApplicationName(this)" oninput="resetCopyApplicationFieldContainerStatusSvg('NewApplicationName-ResultContainer')">
                                <div id="NewApplicationName-ResultContainer">
                                </div>
                            </div>
                        </div>
                        <!-- Field Container -->
                        <div class="CopyWebApplicationModal-Body-FieldContainer">
                            <!-- Label -->
                            <div class="CopyWebApplicationModal-Body-FieldContainer-Label">
                                <label for="CopyWebApplicationModal-NewApplicationPoolName">New Application Pool Name: </label><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                                <span class="tooltiptext">This is the help text.</span>
                            </div>
                            <!-- Field -->
                            <div class="CopyWebApplicationModal-Body-FieldContainer-Field">
                                <input type="text" id="CopyWebApplicationModal-NewApplicationPoolName" onfocusout="validateNoDuplicateApplicationPoolName(this)" oninput="resetCopyApplicationFieldContainerStatusSvg('NewApplicationPoolName-ResultContainer')">
                                <div id="NewApplicationPoolName-ResultContainer">
                                </div>
                            </div>
                        </div>
                        <!-- Field Container -->
                        <div id="CopyWebApplicationModal-ApplicationServerURLField" class="CopyWebApplicationModal-Body-FieldContainer">
                            <!-- Label -->
                            <div class="CopyWebApplicationModal-Body-FieldContainer-Label">
                                <label for="CopyWebApplicationModal-ApplicationServerUrl">Application Server URL: </label><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                                <span class="tooltiptext">This is the help text.</span>
                            </div>
                            <!-- Field -->
                            <div class="CopyWebApplicationModal-Body-FieldContainer-Field">
                                <input type="url" id="CopyWebApplicationModal-ApplicationServerUrl" onfocusout="validateApplicationServerURL(this)" oninput="resetCopyApplicationFieldContainerStatusSvg('ApplicationServerUrl-ResultContainer')">
                                <div id="ApplicationServerUrl-ResultContainer">
                                </div>
                            </div>
                        </div>
                        <!-- Action Buttons -->
                        <div class="CopyWebApplicationModal-Body-ActionButtons">
                            <div class="CopyWebApplicationModal-Body-ActionButtons-ButtonsContainer">
                                <button id="Copy-Button" onclick="copyWebApplication()">Copy</button>
                                <button id="Cancel-Button-CopyWebApplication" onclick="closeCopyWebApplicationModal()">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Successful save Modal -->
        <div class="modal-overlay" id="modalOverlay">
            <div class="modal-content">
                <svg id="successfulSave" width="120" height="120" viewBox="0 0 120 120" fill="none" xmlns="http://www.w3.org/2000/svg" style="display: none">
                    <circle cx="60" cy="60" r="52.5" fill="#4CAF50" />
                    <path d="M32.5 65L55 90L100 45" stroke="white" stroke-width="12" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <svg id="erroredSave" width="120" height="120" viewBox="0 0 120 120" xmlns="http://www.w3.org/2000/svg" style="display: none">
                    <!-- Outer white circle -->
                    <circle cx="60" cy="60" r="52.5" fill="white" stroke="black" stroke-width="2" />
                    <!-- Red background circle -->
                    <circle cx="60" cy="60" r="45" fill="red" />
                    <!-- White railroad crossing X -->
                    <path d="M30 30 L90 90 M30 90 L90 30" stroke="white" stroke-width="12" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </div>
        </div>
        <!-- Error Load Modal -->
        <div class="errorLoadModal" id="errorLoadModal">
            <div id="errorLoadModal-content" class="errorLoadModal-content">
                <div>
                    <p>The following error(s) happened when loading your Web Application:</p>
                    <ul id="errorLoadModal-ErrorList">
                        
                    </ul>
                </div>
                <div style="display:flex;">
                    <button onclick="closeErrorLoadModal()" style="margin:auto;">OK</button>
                </div>
            </div>
        </div>
        <!-- Connection String Test Modal -->
        <div class="connectionStringTestModal" id="connectionStringTestModal">
            <div id="connectionStringTestModal-content" class="connectionStringTestModal-content" style="">
                @* <div>
                    <p style="font:large;font-weight:bold;">Testing your connection string.</p>
                </div> *@
                <label style="font-size:xx-large;font-weight:bold;" for="connectionStringTestModal-ProgressBar">Testing your connection string...</label>
                <progress style="height:2.5rem;width:25rem;" id="connectionStringTestModal-ProgressBar"></progress>
            </div>
        </div>
        <!-- Copy Complete Modal Window -->
        <div id="AlertModal" class="AlertModal">
            <div class="AlertModal-Container">
                <div id="AlertModal-TitleBar" class="AlertModal-TitleBar">
                    <p>Web Application Copy Complete</p>
                </div>
                <div class="AlertModal-Body">
                    <div id="AlertModal-Text" class="AlertModal-Text">
                        <p id="AlertModal-Text-Paragraph"></p>
                    </div>
                    <div id="AlertModal-Button" class="AlertModal-Button">
                        <button onclick="closeAlertModal()">OK</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Loader Modal Window -->
        <div class="loader"></div>
        <!-- Successful save Modal -->
        <div id="ProcessingWebConfigValuesProgress" class="ProcessingWebConfigValuesProgress">
        <div id="ProcessingWebConfigValuesProgress-Content" class="ProcessingWebConfigValuesProgress-Content">
                <div id="ProcessingWebConfigValuesProgress-Section" class="ProcessingWebConfigValuesProgress-Section">
                    <label id="ProcessingWebConfig-Label" class="ProcessingWebConfigValuesProgress-Label" for="ProcessingWebConfigValuesProgress-Bar"></label>
                    <progress class="ProcessingWebConfigValuesProgress-Bar" id="ProcessingWebConfigValuesProgress-Bar"></progress>
                </div>
            </div>
        </div>
        <!-- Configuration Errors Modal Window -->
        <div id="SaveErrors-Modal" class="sectionWithTitleBar">
        <div id="SaveErrors-Content" class="SaveErrors-Content">
                <div class="titleBar" name="Title-Bar">
                    <h2>Errors</h2>
                </div>
                <div class="coreSection">
                    <div id="SaveErrors" class="SaveErrors">
                        <div id="SaveErrors-Section" class="SaveErrors-Section">
                            <div class="SaveErrors-ErrorText">
                                <!--This is where the error text will be.-->
                                <p>Please review the errors below. You and click on one of them and then click View to jump to that location.</p>
                            </div>
                            <div class="SaveErrors-ErrorTable">
                                <!--This is where the "table" of the different errors will go.-->
                                <table id="SaveErrorsTable">
                                    <thead>
                                        <tr>
                                            <th>Error #</th>
                                            <th>Section</th>
                                            <th>Title</th>
                                            <th>Reason</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                            <div class="SaveErrors-Footer">
                                <div class="SaveErrors-ButtonContainer">
                                    <button id="SaveErrors-ViewButton" class="SaveErrors-ViewButton" onclick="viewButtonClicked()" disabled>View</button>
                                    <button id="SaveErrors-CancelButton" class="SaveErrors-CancelButton" onclick="closeErrorModal()">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Unknown configuration keys modal -->
        <div id="UnknownConfigurationKeys-Modal" class="sectionWithTitleBar">
            <div class="UnknownConfigurationKeys-Content">
                <div class="titleBar" name="Title-Bar">
                    <h2>Unknown Configuration Keys</h2>
                    <p id="UnknownConfigurationKeys-CloseModal" onclick="closeUnknownConfigurationKeysModal()">X</p>
                </div>
                <div class="coreSection">
                    <div id="UnknownConfigurationKeys" class="UnknownConfigurationKeys">
                        <div id="UnknownConfigurationKeysElements-Section" class="UnknownConfigurationKeys-Section">
                            <div class="UnknownConfigurationKeys-Text">
                                <p>The following web.config key elements are unknown to be parsed. These need to be reported so they can be added.</p>
                            </div>
                            <div class="UnknownConfigurationKeys-ElementsTable">
                                <table id="UnknownConfigurationKeysElementsTable">
                                    <thead>
                                        <tr>
                                            <th>Section</th>
                                            <th>Path Name</th>
                                            <th>Attribute Name</th>
                                            <th>Type</th>
                                            <th>HTML ID Name</th>
                                            <th>Value</th>
                                            <th>Version</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                            <div class="UnknownConfigurationKeys-Footer">
                                <div class="UnknownConfigurationKeys-ButtonContainer">
                                    <button id="UnknownConfigurationKeys-CopyToClipboardButton" class="UnknownConfigurationKeys-CopyToClipboardButton" onclick="copyToClipboardPreparation('Elements')">Copy To Clipboard</button>
                                    <button id="UnknownConfigurationKeys-SendInEmailButton" class="UnknownConfigurationKeys-SendInEmailButton" onclick="">Send In Email</button>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div id="UnknownConfigurationKeysAttributes-Section" class="UnknownConfigurationKeys-Section">
                            <div class="UnknownConfigurationKeys-Text">
                                <p>The following web.config key attributes are unknown to be parsed. These need to be reported so they can be added.</p>
                            </div>
                            <div class="UnknownConfigurationKeys-AttributesTable">
                                <table id="UnknownConfigurationKeysAttributesTable">
                                    <thead>
                                        <tr>
                                            <th>Section</th>
                                            <th>Path Name</th>
                                            <th>Attribute Name</th>
                                            <th>Type</th>
                                            <th>HTML ID Name</th>
                                            <th>Value</th>
                                            <th>Version</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                            <div class="UnknownConfigurationKeys-Footer">
                                <div class="UnknownConfigurationKeys-ButtonContainer">
                                    <button id="UnknownConfigurationKeys-CopyToClipboardButton" class="UnknownConfigurationKeys-CopyToClipboardButton" onclick="copyToClipboardPreparation('Attributes')">Copy To Clipboard</button>
                                    <button id="UnknownConfigurationKeys-SendInEmailButton" class="UnknownConfigurationKeys-SendInEmailButton" onclick="">Send In Email</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Menu Bar -->
        <header>
            <div id="h1-container" class="h1-container">
                <div style="display:flex;justify-content:space-between;padding-left: 0.5%;">
                    <a style="color:inherit;text-decoration: none;" href="/"><h1 b-8gj57b4bak="">COMACON</h1></a>
                    <div style="margin: auto 5px;padding-left: 0.5%;">
                        <input type="checkbox" class="checkbox" id="checkbox" onclick="toggleDarkLightMode(this)">
                        <label for="checkbox" class="checkbox-label">
                            <i class="fas fa-moon">
                                <svg width="18" height="18" fill="none" stroke="#f39c12" stroke-linecap="round" stroke-linejoin="round" stroke-width="3.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79Z"></path>
                                </svg>
                            </i>
                            <i class="fas fa-sun">
                                <svg width="18" height="18" fill="none" stroke="#f39c12" stroke-linecap="round" stroke-linejoin="round" stroke-width="3.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12 7a5 5 0 1 0 0 10 5 5 0 1 0 0-10z"></path>
                                    <path d="M12 1v2"></path>
                                    <path d="M12 21v2"></path>
                                    <path d="m4.22 4.22 1.42 1.42"></path>
                                    <path d="m18.36 18.36 1.42 1.42"></path>
                                    <path d="M1 12h2"></path>
                                    <path d="M21 12h2"></path>
                                    <path d="m4.22 19.78 1.42-1.42"></path>
                                    <path d="m18.36 5.64 1.42-1.42"></path>
                                </svg>
                            </i>
                            <span class="ball"></span>
                        </label>
                    </div>
                </div>
                <p id="LoadedApplicationType" style="margin: 0;padding-left: 0.5%;padding-bottom: 0.5%;"></p>
                <p id="LoadedApplicationName" style="margin: 0;padding-left: 0.5%;padding-bottom: 0.5%;"></p>
                <div id="core-action-buttons-div" class="core-action-buttons-div">
                    <div style="display: flex;">
                        <button id="Open-Web-Application-Core-Action-Button" class="core-action-buttons" type="button" onclick="openModal()"><u>Open Web Application</u></button>
                        <button id="Copy-Web-Application-Core-Action-Button" class="core-action-buttons Web-Application-Button" type="button" onclick="openCopyWebApplicationModal()"><u>Copy Web Application</u></button>
                        <button id="Save-Web-Application-Core-Action-Button" class="core-action-buttons Web-Application-Button" type="button" onclick="configOkToSave()"><u>Save Web Application</u></button>
                    </div>
                    <div id="container">
                        <a id="Unknown-Configuration-Keys-Link" href="javascript:openUnknownConfigurationKeysModal()" style="text-decoration: none;">Unknown Configuration Keys</a>
                        <button onclick="showErrorModal()">
                            <svg width="28" height="28" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path d="M20.066 15.86a11.443 11.443 0 0 1-.575-3.57V9.291a7.673 7.673 0 0 0-1.902-5.169 7.707 7.707 0 0 0-4.863-2.583c-1.041-.108-2.1 0-3.105.34A7.142 7.142 0 0 0 6.93 3.46a7.384 7.384 0 0 0-1.812 2.513 7.6 7.6 0 0 0-.647 3.033v3.3a11.414 11.414 0 0 1-.574 3.555L3 18.514l.719.987h5.257c0 .79.322 1.56.879 2.118a3.02 3.02 0 0 0 2.118.88c.789 0 1.56-.323 2.116-.88a3.02 3.02 0 0 0 .881-2.118h5.257l.718-.987-.88-2.655Zm-7.035 4.72a1.496 1.496 0 0 1-1.058.448 1.495 1.495 0 0 1-1.059-.45 1.495 1.495 0 0 1-.45-1.057h2.998a1.407 1.407 0 0 1-.43 1.059h-.002Zm-8.273-2.565.556-1.671c.434-1.302.659-2.665.665-4.037V9.006c0-.845.18-1.67.52-2.424a5.78 5.78 0 0 1 1.454-2.01 5.831 5.831 0 0 1 2.154-1.256 5.81 5.81 0 0 1 2.475-.27 6.22 6.22 0 0 1 3.895 2.1 6.2 6.2 0 0 1 1.506 4.164v3.015c0 1.364.216 2.727.665 4.037l.556 1.67H4.76v-.019l-.001.002Z"></path>
                            </svg>
                            <div id="notification-count" class="" style="display: none;">
                                <span id="notification-span"></span>
                            </div>
                        </button>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Container -->
        <div class="container">
            <main role="main" class="pb-3">
                @RenderSection("core", required: false)
                <section class="body-core-section">
                    <section id="CoreSectionsButtons" class="CoreSectionsButtons">
                        <div style="display: flex; flex-direction: row;margin: 5px 0;overflow-y: auto;width: max-content;">
                            <div style="max-height: 100vh;max-width:33vh">
                                @RenderSection("CoreButtons", required: false)
                                @RenderSection("IisLinks", required: false)
                            </div>
                            @RenderSection("AuthenticationOptimizationOptions", required: false)
                        </div>
                    </section>
                    <!-- IIs Settings Sections -->
                    <div style="width: 100%;">
                        <h2 id="SectionTitle"></h2>
                        @RenderBody()
                        <div id="IISApplicationSection" class="tabcontent">
                            <div name="IisConfigurationApplicationGeneral" class="row">
                                <p class="BlockDescription"></p>
                                <div class="column">
                                    <div class="sectionWithTitleBar">
                                        <div class="titleBar" name="Title-Bar">
                                            General Settings
                                        </div>
                                        <div class="coreSection">
                                            <div class="settingElement">
                                                <div class="labelElement">
                                                    <label for="IIS-Configuration-Application-Application-Pool">Application Pool: </label><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                                                    <span id="IIS-Configuration-Application-Application-Pool-Tooltip" class="tooltiptext">This is the help text.</span>
                                                </div>
                                                <div class="inputElement">
                                                    <input type="text" name="IIS-Configuration-Application-Application-Pool" id="IIS-Configuration-Application-Application-Pool" disabled>
                                                </div>
                                            </div>
                                            <div class="settingElement">
                                                <div class="labelElement">
                                                    <label for="IIS-Configuration-Application-Default-Document">Default Document: </label><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                                                    <span id="IIS-Configuration-Application-Default-Document-Tooltip" class="tooltiptext">This is the help text.</span>
                                                </div>
                                                <div class="inputElement">
                                                    <input type="text" name="IIS-Configuration-Application-Default-Document" id="IIS-Configuration-Application-Default-Document">
                                                </div>
                                            </div>
                                            <div class="settingElement">
                                                <div class="labelElement">
                                                    <span>Pre-Load Enabled: </span><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                                                    <span id="IIS-Configuration-Application-PreLoad-Enabled-Tooltip" class="tooltiptext">This is the help text.</span>
                                                </div>
                                                <div class="inputElement">
                                                    <label for="IIS-Configuration-Application-PreLoad-Enabled" class="switch">
                                                        <input id="IIS-Configuration-Application-PreLoad-Enabled" type="checkbox">
                                                        <span class="slider round"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="sectionWithTitleBar">
                                        <div class="titleBar" name="Title-Bar">
                                            Root Authentication
                                        </div>
                                        <div class="coreSection">
                                            <div class="settingElement">
                                                <div class="labelElement">
                                                    <span>Anonymous Authentication: </span><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                                                    <span id="IIS-Configuration-Application-Anonymous-Authentication-RootSpecific-Tooltip" class="tooltiptext">This is the help text.</span>
                                                </div>
                                                <div class="inputElement">
                                                    <label for="IIS-Configuration-Application-Anonymous-Authentication-RootSpecific" class="switch">
                                                    <input id="IIS-Configuration-Application-Anonymous-Authentication-RootSpecific" type="checkbox" onclick="AuthenticationToggled(this)">
                                                        <span class="slider round"></span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="settingElement">
                                                <div class="labelElement">
                                                    <span>ASP.NET Impersonation: </span><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                                                    <span id="IIS-Configuration-Application-ASPNET-Impersonation-RootSpecific-Tooltip" class="tooltiptext">This is the help text.</span>
                                                </div>
                                                <div class="inputElement">
                                                    <label for="IIS-Configuration-Application-ASPNET-Impersonation-RootSpecific" class="switch">
                                                    <input id="IIS-Configuration-Application-ASPNET-Impersonation-RootSpecific" type="checkbox" onclick="AuthenticationToggled(this)">
                                                        <span class="slider round"></span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="settingElement">
                                                <div class="labelElement">
                                                    <span>Windows Authentication: </span><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                                                    <span id="IIS-Configuration-Application-Windows-Authentication-RootSpecific-Tooltip" class="tooltiptext">This is the help text.</span>
                                                </div>
                                                <div class="inputElement">
                                                    <label for="IIS-Configuration-Application-Windows-Authentication-RootSpecific" class="switch">
                                                        <input id="IIS-Configuration-Application-Windows-Authentication-RootSpecific" type="checkbox" onclick="AuthenticationToggled(this)">
                                                        <span class="slider round"></span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="settingElement">
                                                <div class="labelElement">
                                                    <span>Use Application Pool Credentials: </span><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                                                    <span id="IIS-Configuration-Application-Use-Application-Pool-Credentials-Tooltip" class="tooltiptext">This is the help text.</span>
                                                </div>
                                                <div class="inputElement">
                                                    <label for="IIS-Configuration-Application-Use-Application-Pool-Credentials" class="switch">
                                                    <input id="IIS-Configuration-Application-Use-Application-Pool-Credentials" type="checkbox" onclick="AuthenticationToggled(this)">
                                                        <span class="slider round"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @* <div name="IisConfigurationApplicationFileSpecificAuthentication" class="row" style="display: none;">
                                <div class="sectionWithTitleBar">
                                    <div class="titleBar" name="Title-Bar">
                                        File Specific Authentication
                                    </div>
                                    <div class="coreSection">
                                        <div class="row">
                                            <div class="column" style="width: 30%;">
                                                <p class="BlockDescription">Files</p>
                                                <div name="FileSpecificAuthenticationScrollPanel" class="CustomValidationPagesListSection">
                                                    <ul id="IisConfigurationApplicationFileSpecificAuthenticationList" class="CustomValidationApplicationListKeywordsList">
                                                    </ul>
                                                </div>
                                                <div name="actionbuttons" class="CustomValidationApplicationListKeywordsButtons">
                                                    <button id="Custom-Validation-Page-Add-Button" onclick="">Add</button>
                                                    <button id="Custom-Validation-Page-Delete-Button" onclick="">Delete</button>
                                                </div>
                                            </div>
                                            <div class="column" style="width: 60%;">
                                                <div class="settingElement" style="margin-top: 10%;">
                                                    <div class="labelElement">
                                                        <span>Anonymous Authentication: </span><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                                                        <span class="tooltiptext">This is the help text.</span>
                                                    </div>
                                                    <div class="inputElement">
                                                        <label for="IIS-Configuration-Application-Anonymous-Authentication-PagSpecific" class="switch">
                                                            <input id="IIS-Configuration-Application-Anonymous-Authentication-PagSpecific" type="checkbox">
                                                            <span class="slider round"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="settingElement">
                                                    <div class="labelElement">
                                                        <span>ASP.NET Impersonation: </span><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                                                        <span class="tooltiptext">This is the help text.</span>
                                                    </div>
                                                    <div class="inputElement">
                                                        <label for="IIS-Configuration-Application-ASPNET-Impersonation-PagSpecific" class="switch">
                                                            <input id="IIS-Configuration-Application-ASPNET-Impersonation-PageSpecific" checkbox">
                                                            <span class="slider round"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="settingElement">
                                                    <div class="labelElement">
                                                        <span>Windows Authentication: </span><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                                                        <span class="tooltiptext">This is the help text.</span>
                                                    </div>
                                                    <div class="inputElement">
                                                        <label for="IIS-Configuration-Application-Windows-Authentication-PagSpecific" class="switch">
                                                            <input id="IIS-Configuration-Application-Windows-Authentication-PagSpecific" type="checkbox">
                                                            <span class="slider round"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> *@
                        </div>
                        <div id="IISApplicationPoolSection" class="tabcontent">
                            <div class="row">
                                <div class="column">
                                    <div class="sectionWithTitleBar">
                                        <div class="titleBar" name="Title-Bar">
                                            General
                                        </div>
                                        <div class="coreSection">
                                            <div class="settingElement">
                                                <div class="labelElement">
                                                    <label for="Iis-Configuration-Application-AppPool-General-Net-CLR-Version">.NET CLR Version: </label><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                                                    <span id="Iis-Configuration-Application-AppPool-General-Net-CLR-Version-Tooltip" class="tooltiptext">This is the help text.</span>
                                                </div>
                                                <div class="inputElement">
                                                    <input type="text" name="Iis-Configuration-Application-AppPool-General-Net-CLR-Version" id="Iis-Configuration-Application-AppPool-General-Net-CLR-Version" disabled>
                                                </div>
                                            </div>
                                            <div class="settingElement">
                                                <div class="labelElement">
                                                    <span>Enable 32-Bit Applications: </span><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                                                    <span id="Iis-Configuration-Application-AppPool-General-Enable-32-Bit-Applications-Tooltip" class="tooltiptext">This is the help text.</span>
                                                </div>
                                                <div class="inputElement">
                                                    <label for="Iis-Configuration-Application-AppPool-General-Enable-32-Bit-Applications" class="switch">
                                                        <input id="Iis-Configuration-Application-AppPool-General-Enable-32-Bit-Applications" type="checkbox">
                                                        <span class="slider round"></span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="settingElement">
                                                <div class="labelElement">
                                                    <label for="Iis-Configuration-Application-AppPool-General-Managed-Pipeline-Mode">Managed Pipeline Mode: </label><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                                                    <span id="Iis-Configuration-Application-AppPool-General-Managed-Pipeline-Mode-Tooltip" class="tooltiptext">This is the help text.</span>
                                                </div>
                                                <div class="inputElement">
                                                    <select name="Iis-Configuration-Application-AppPool-General-Managed-Pipeline-Mode" id="Iis-Configuration-Application-AppPool-General-Managed-Pipeline-Mode">
                                                        <option value="Integrated" selected>Integrated</option>
                                                        <option value="Classic">Classic</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="settingElement">
                                                <div class="labelElement">
                                                    <label for="Iis-Configuration-Application-AppPool-General-Queue-Length">Queue Length: </label><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                                                    <span id="Iis-Configuration-Application-AppPool-General-Queue-Length-Tooltip" class="tooltiptext">This is the help text.</span>
                                                </div>
                                                <div class="inputElement">
                                                    <input type="number" pattern="[0-9]*" inputmode="numeric" name="Iis-Configuration-Application-AppPool-General-Queue-Length" id="Iis-Configuration-Application-AppPool-General-Queue-Length" value="10000">
                                                </div>
                                            </div>
                                            <div class="settingElement">
                                                <div class="labelElement">
                                                    <label for="Iis-Configuration-Application-AppPool-General-Start-Mode">Start Mode: </label><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                                                    <span id="Iis-Configuration-Application-AppPool-General-Start-Mode-Tooltip" class="tooltiptext">This is the help text.</span>
                                                </div>
                                                <div class="inputElement">
                                                    <select name="Iis-Configuration-Application-AppPool-General-Start-Mode" id="Iis-Configuration-Application-AppPool-General-Start-Mode">
                                                        <option value="OnDemand" selected>On Demand</option>
                                                        <option value="AlwaysRunning">Always Running</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="sectionWithTitleBar">
                                        <div class="titleBar" name="Title-Bar">
                                            Process Model
                                        </div>
                                        <div class="coreSection">
                                            <div class="settingElement">
                                                <div class="labelElement">
                                                    <label for="Iis-Configuration-Application-AppPool-Process-Model-Identity-Type">Identity Type: </label><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                                                    <span id="Iis-Configuration-Application-AppPool-Process-Model-Identity-Type-Tooltip" class="tooltiptext">This is the help text.</span>
                                                </div>
                                                <div class="inputElement">
                                                    <select name="Iis-Configuration-Application-AppPool-Process-Model-Identity-Type" id="Iis-Configuration-Application-AppPool-Process-Model-Identity-Type" onchange="processModelIdentityTypeChanged(this)">
                                                        <option value="LocalService">Local Service</option>
                                                        <option value="LocalSystem">Local System</option>
                                                        <option value="NetworkService">Network Service</option>
                                                        <option value="ApplicationPoolIdentity">Application Pool Identity</option>
                                                        <option value="SpecificUser">Specific User</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="settingElement">
                                                <div class="labelElement">
                                                    <label for="Iis-Configuration-Application-AppPool-Process-Model-Identity-Username">Identity (Username): </label><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                                                    <span id="Iis-Configuration-Application-AppPool-Process-Model-Identity-Username-Tooltip" class="tooltiptext">This is the help text.</span>
                                                </div>
                                                <div class="inputElement">
                                                    <svg width="20" height="20" fill="#ff0000" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" id="Iis-Configuration-Application-AppPool-Process-Model-Identity-Username-RequiredSvg" class="requiredAlertSvg">
                                                        <path d="M16.325 2.183A.625.625 0 0 0 15.884 2H8.116a.625.625 0 0 0-.441.183L2.183 7.675A.625.625 0 0 0 2 8.116v7.768c0 .165.066.324.183.441l5.492 5.492a.625.625 0 0 0 .441.183h7.768a.625.625 0 0 0 .441-.183l5.492-5.492a.625.625 0 0 0 .183-.441V8.116a.625.625 0 0 0-.183-.441l-5.492-5.492ZM12 7a1.13 1.13 0 0 1 1.125 1.244l-.438 4.383a.69.69 0 0 1-1.374 0l-.438-4.383A1.131 1.131 0 0 1 12 7Zm.002 7.5a1.25 1.25 0 1 1 0 2.5 1.25 1.25 0 0 1 0-2.5Z"></path>
                                                    </svg>
                                                    <input type="text" name="Iis-Configuration-Application-AppPool-Process-Model-Identity-Username" id="Iis-Configuration-Application-AppPool-Process-Model-Identity-Username" oninput="validateApplicationPoolCredentialsLength(this)" disabled>
                                                </div>
                                            </div>
                                            <div class="settingElement">
                                                <div class="labelElement">
                                                    <label for="Iis-Configuration-Application-AppPool-Process-Model-Identity-Password">Identity (Password): </label><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                                                    <span id="Iis-Configuration-Application-AppPool-Process-Model-Identity-Password-Tooltip" class="tooltiptext">This is the help text.</span>
                                                </div>
                                                <div class="inputElement">
                                                    <svg width="20" height="20" fill="#ff0000" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" id="Iis-Configuration-Application-AppPool-Process-Model-Identity-Password-RequiredSvg" class="requiredAlertSvg">
                                                        <path d="M16.325 2.183A.625.625 0 0 0 15.884 2H8.116a.625.625 0 0 0-.441.183L2.183 7.675A.625.625 0 0 0 2 8.116v7.768c0 .165.066.324.183.441l5.492 5.492a.625.625 0 0 0 .441.183h7.768a.625.625 0 0 0 .441-.183l5.492-5.492a.625.625 0 0 0 .183-.441V8.116a.625.625 0 0 0-.183-.441l-5.492-5.492ZM12 7a1.13 1.13 0 0 1 1.125 1.244l-.438 4.383a.69.69 0 0 1-1.374 0l-.438-4.383A1.131 1.131 0 0 1 12 7Zm.002 7.5a1.25 1.25 0 1 1 0 2.5 1.25 1.25 0 0 1 0-2.5Z"></path>
                                                    </svg>
                                                    <input type="password" name="Iis-Configuration-Application-AppPool-Process-Model-Identity-Password" id="Iis-Configuration-Application-AppPool-Process-Model-Identity-Password" oninput="validateApplicationPoolCredentialsLength(this)" disabled>
                                                    <button class="passwordShowHideButton" id="Iis-Configuration-Application-AppPool-Process-Model-Identity-Password-ShowHide-Password" onclick="passwordFieldShowHide('Iis-Configuration-Application-AppPool-Process-Model-Identity-Password',this)">
                                                        <svg width="18" height="18" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M6.873 17.129c-1.845-1.31-3.305-3.014-4.13-4.09a1.693 1.693 0 0 1 0-2.077C4.236 9.013 7.818 5 12 5c1.876 0 3.63.807 5.13 1.874"></path>
                                                            <path d="M14.13 9.887a3 3 0 1 0-4.243 4.242"></path>
                                                            <path d="M4 20 20 4"></path>
                                                            <path d="M10 18.704A7.124 7.124 0 0 0 12 19c4.182 0 7.764-4.013 9.257-5.962a1.694 1.694 0 0 0-.001-2.078A22.939 22.939 0 0 0 19.57 9"></path>
                                                        </svg>
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="settingElement">
                                                <div class="labelElement">
                                                    <label for="Iis-Configuration-Application-AppPool-Process-Model-Idle-Time-out">Idle Time-out (Minutes): </label><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                                                    <span id="Iis-Configuration-Application-AppPool-Process-Model-Idle-Time-out-Tooltip" class="tooltiptext">This is the help text.</span>
                                                </div>
                                                <div class="inputElement">
                                                    <input type="number" pattern="[0-9]*" inputmode="numeric" name="Iis-Configuration-Application-AppPool-Process-Model-Idle-Time-out" id="Iis-Configuration-Application-AppPool-Process-Model-Idle-Time-out">
                                                </div>
                                            </div>
                                            <div class="settingElement">
                                                <div class="labelElement">
                                                    <span>Ping Enabled: </span><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                                                    <span id="Iis-Configuration-Application-AppPool-Process-Model-Ping-Enabled-Tooltip" class="tooltiptext">This is the help text.</span>
                                                </div>
                                                <div class="inputElement">
                                                    <label for="Iis-Configuration-Application-AppPool-Process-Model-Ping-Enabled" class="switch">
                                                        <input id="Iis-Configuration-Application-AppPool-Process-Model-Ping-Enabled" type="checkbox">
                                                        <span class="slider round"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="column">
                                    <div class="sectionWithTitleBar">
                                        <div class="titleBar" name="Title-Bar">
                                            CPU
                                        </div>
                                        <div class="coreSection">
                                            <div class="settingElement">
                                                <div class="labelElement">
                                                    <label for="Iis-Configuration-Application-AppPool-Cpu-Limit-Interval">Limit Interval (minutes): </label><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                                                    <span id="Iis-Configuration-Application-AppPool-Cpu-Limit-Interval-Tooltip" class="tooltiptext">This is the help text.</span>
                                                </div>
                                                <div class="inputElement">
                                                    <input type="number" pattern="[0-9]*" inputmode="numeric" name="Iis-Configuration-Application-AppPool-Cpu-Limit-Interval" id="Iis-Configuration-Application-AppPool-Cpu-Limit-Interval">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="sectionWithTitleBar">
                                        <div class="titleBar" name="Title-Bar">
                                            Rapid-Fail Protection
                                        </div>
                                        <div class="coreSection">
                                            <div class="settingElement">
                                                <div class="labelElement">
                                                    <span>Enabled</span><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                                                    <span id="Iis-Configuration-Application-AppPool-Rapid-Fail-Protection-Enabled-Tooltip" class="tooltiptext">This is the help text.</span>
                                                </div>
                                                <div class="inputElement">
                                                    <label for="Iis-Configuration-Application-AppPool-Rapid-Fail-Protection-Enabled" class="switch">
                                                        <input id="Iis-Configuration-Application-AppPool-Rapid-Fail-Protection-Enabled" type="checkbox">
                                                        <span class="slider round"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="column">
                                    <div class="sectionWithTitleBar">
                                        <div class="titleBar" name="Title-Bar">
                                            Recycling
                                        </div>
                                        <div class="coreSection">
                                            <div class="settingElement">
                                                <div class="labelElement">
                                                    <label for="Iis-Configuration-Application-AppPool-Regular-Time-Interval">Regular Time Interval (minutes): </label><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                                                    <span id="Iis-Configuration-Application-AppPool-Regular-Time-Interval-Tooltip" class="tooltiptext">This is the help text.</span>
                                                </div>
                                                <div class="inputElement">
                                                    <input type="number" pattern="[0-9]*" inputmode="numeric" name="Iis-Configuration-Application-AppPool-Regular-Time-Interval" id="Iis-Configuration-Application-AppPool-Regular-Time-Interval" value="0">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="column">
                                </div>
                            </div>
                        </div>
                        <div id="DiagnosticsSettingsSection" class="tabcontent" style="border: 1px solid black;">
                            <p class="BlockDescription">A logging route specifies where the application will direct diagnostics and/or audit events. By default most audit events are persisted to the OnBase Database. Audit routes provide the ability to mirror these events to additional endpoints for compliance purposes.</p>
                            <div class="row">
                                <div class="sectionWithTitleBar">
                                    <div class="titleBar" name="Title-Bar">
                                        General Diagnostics Settings
                                    </div>
                                    <div class="coreSection">
                                        <div class="settingElement">
                                            <div class="labelElement">
                                                <label for="DiagnosticsSettings-TruncateLogValues">Number of characters to truncate log sections to: </label><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                                                <span id="DiagnosticsSettings-TruncateLogValues-Tooltip" class="tooltiptext">This is the help text.</span>
                                            </div>
                                            <div class="inputElement">
                                                <input type="number" pattern="[0-9]*" inputmode="numeric" name="DiagnosticsSettings-TruncateLogValues" id="DiagnosticsSettings-TruncateLogValues">
                                            </div>
                                        </div>
                                        <div class="settingElement">
                                            <div class="labelElement">
                                                <label for="DiagnosticsSettings-WindowsEventLogging-SourceName">Windows Event Logging Source Name: </label><img class="tooltipimage" src="~/images/blue question mark icon - extra small.png" alt="Blue Tooltip Question Mark">
                                                <span id="DiagnosticsSettings-WindowsEventLogging-SourceName-Tooltip" class="tooltiptext">This is the help text.</span>
                                            </div>
                                            <div class="inputElement">
                                                <input type="text" name="DiagnosticsSettings-WindowsEventLogging-SourceName" id="DiagnosticsSettings-WindowsEventLogging-SourceName">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="" style="display:flex;justify-content:space-between;">
                                <div class="column" style="min-width: fit-content;max-width: 30%;padding:0;">
                                    <select id="DiagnosticsSettingsRoutes-SelectList" size="30" onchange="diagnosticsSettingRouteSelected(this)" style="width: 100%;">
                                    </select>
                                    <div style="display: flex;justify-content: space-around;padding-top: 5px;">
                                        <button onclick="addDiagnosticsRouteV2()" type="button">Add</button>
                                        <button onclick="copyDiagnosticsRouteV2()" type="button">Copy</button>
                                        <button onclick="deleteDiagnosticsRouteV2()" type="button">Delete</button>
                                    </div>
                                </div>
                                <div class="column" style="width: 65%;padding:0;">
                                    <div id="SourceDetails" style="border: 1px solid black; padding-left: 5px; padding-right: 5px;">
                                        <h2>Source Details</h2>
                                        <div class="setting-element">
                                            <label for="Source-Details-Name">Name: </label>
                                            <input type="text" name="Source-Details-Name" id="Source-Details-Name" oninput="diagnosticsSettingRouteNameChanged(this)">
                                        </div>
                                        <div class="setting-element">
                                            <span>Source:</span>
                                            <input type="radio" name="Source-Details-Source-Radio" id="Source-Details-Source-Radio-Diagnostics-Events" onclick="updateAuditEventsSourceOnRoute(this)" checked>
                                            <label for="Source-Details-Source">Diagnostics Events</label>
                                            <input type="radio" name="Source-Details-Source-Radio" id="Source-Details-Source-Radio-Audit-Events" onclick="updateAuditEventsSourceOnRoute(this)">
                                            <label for="Source-Details-Source-Radio-Audit-Events">Audit Events</label>
                                        </div>
                                        <div class="setting-element">
                                            <input type="checkbox" name="Enable-IP-Address-Masking" id="Enable-IP-Address-Masking" onclick="udpateEnableIpAddressMaskingOnRoute(this)" checked>
                                            <label for="Enable-IP-Address-Masking">Enable IP Address Masking: </label>
                                        </div>
                                    </div>
                                    <div id="FilteringOptions" style="border: 1px solid black; padding: 5px;">
                                        <h2>Filtering Options</h2>
                                        <div class="setting-element">
                                            <label for="Filtering-Options-Minimum-Error-Level">Minimum Error Level: </label>
                                            <select name="Filtering-Options-Minimum-Error-Level" id="Filtering-Options-Minimum-Error-Level" onclick="errorLevelChanged(this)">
                                                <option value="1">Trace</option>
                                                <option value="2">Debug</option>
                                                <option value="3">Information</option>
                                                <option value="4">Warning</option>
                                                <option value="5">Error</option>
                                                <option value="6">Critical</option>
                                            </select>
                                        </div>
                                        <div class="setting-element">
                                            <label for="Filtering-Options-Maximum-Error-Level">Maximum Error Level: </label>
                                            <select name="Filtering-Options-Maximum-Error-Level" id="Filtering-Options-Maximum-Error-Level" onclick="errorLevelChanged(this)">
                                                <option value="1">Trace</option>
                                                <option value="2">Debug</option>
                                                <option value="3">Information</option>
                                                <option value="4">Warning</option>
                                                <option value="5">Error</option>
                                                <option value="6">Critical</option>
                                            </select>
                                        </div>
                                        <div class="setting-element">
                                            <input type="radio" name="Filter-Options-Profiles-Radio" id="Filter-Options-Neither-Profiles-Radio" onclick="profilesReviewV2(this)" checked>
                                            <label for="Filter-Options-Neither-Profiles-Radio">Neither</label>
                                            <input type="radio" name="Filter-Options-Profiles-Radio" id="Filter-Options-Included-Profiles-Radio" onclick="profilesReviewV2(this)">
                                            <label for="Filter-Options-Included-Profiles-Radio">Included Profiles</label>
                                            <input type="radio" name="Filter-Options-Profiles-Radio" id="Filter-Options-Excluded-Profiles-Radio" onclick="profilesReviewV2(this)">
                                            <label for="Filter-Options-Excluded-Profiles-Radio">Excluded Profiles</label>
                                        </div>
                                        <div class="ProfilesPanel">
                                            <div id="ProfilesPanel-Column1">
                                            </div>
                                            <div id="ProfilesPanel-Column2">
                                            </div>
                                        </div>
                                    </div>
                                    <div id="Destination" style="border: 1px solid black; padding-left: 5px;">
                                        <div class="setting-element">
                                            <label for="Destination-Type">Type: </label>
                                            <select name="Destination-Type" id="Destination-Type" onchange="DestinationTypeChange(this)">
                                                <option value="Console">Console</option>
                                                <option value="DurableHttp">DurableHttp</option>
                                                <option value="EventLog">EventLog</option>
                                                <option value="File">File</option>
                                                <option value="Http">Http</option>
                                                <option value="Splunk">Splunk</option>
                                            </select>
                                        </div>
                                        <div id="Destination-Type-Console" class="DestinationTypeFields">
                                            <div class="row">
                                                <div class="setting-element">
                                                    <label for="Destination-Type-Console-Output-Format">Output Format: </label>
                                                    <select name="Destination-Type-Console-Output-Format" id="Destination-Type-Console-Output-Format" onchange="updateDestinationDetails()">
                                                        <option value="Minimal">Minimal</option>
                                                        <option value="Text">Text</option>
                                                        <option value="JSON">JSON</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="Destination-Type-DurableHttp" class="DestinationTypeFields">
                                            <div class="row">
                                                <div class="setting-element">
                                                    <label for="Destination-Type-DurableHttp-Server-URL">Server URL: </label>
                                                    <input type="url" name="Destination-Type-DurableHttp-Server-URL" id="Destination-Type-DurableHttp-Server-URL" oninput="updateDestinationDetails()">
                                                </div>
                                            </div>
                                        </div>
                                        <div id="Destination-Type-Http" class="DestinationTypeFields">
                                            <div class="row">
                                                <div class="setting-element">
                                                    <div id="-Loader" class="loader"></div>
                                                    <label for="Destination-Type-Http-Server-URL">Server URL: </label>
                                                    <input type="url" name="Destination-Type-Http-Server-URL" id="Destination-Type-Http-Server-URL" oninput="updateDestinationDetails()">
                                                </div>
                                            </div>
                                        </div>
                                        <div id="Destination-Type-EventLog" class="DestinationTypeFields">
                                            <div class="row">
                                                <div class="setting-element">
                                                <label for="Destination-Type-EventLog-SourceName">Source Name: </label>
                                                <input type="text" name="Destination-Type-EventLog-SourceName" id="Destination-Type-EventLog-SourceName" oninput="updateDestinationDetails()">
                                                </div>
                                            </div>
                                        </div>
                                        <div id="Destination-Type-File" class="DestinationTypeFields">
                                            <div class="row">
                                                <div class="setting-element">
                                                    <label for="Destination-Type-File-File-Path">File Path: </label>
                                                    <input type="text" name="Destination-Type-File-File-Path" id="Destination-Type-File-File-Path" oninput="updateDestinationDetails()">
                                                </div>
                                                <div class="setting-element">
                                                    <label for="Destination-Type-File-File-Size-Limit">File Size Limits (Bytes): </label>
                                                    <input type="number" pattern="[0-9]*" inputmode="numeric" name="Destination-Type-File-File-Size-Limit" id="Destination-Type-File-File-Size-Limit" oninput="updateDestinationDetails()">
                                                    <input type="checkbox" name="Destination-Type-File-Roll-When-Limit-Reached" id="Destination-Type-File-Roll-When-Limit-Reached" onchange="destinationFileTypeRollOnIntervalCheckbox(this);updateDestinationDetails()">
                                                    <label for="Destination-Type-File-Roll-When-Limit-Reached">Roll When Limit Reached</label>
                                                </div>
                                                <div class="setting-element">
                                                    <label for="Destination-Type-File-Roll-Interval">Roll Interval: </label>
                                                    <select name="Destination-Type-File-Roll-Interval" id="Destination-Type-File-Roll-Interval" onchange="updateDestinationDetails()" disabled>
                                                        <option value="Infinite">Infinite</option>
                                                        <option value="Year">Year</option>
                                                        <option value="Month">Month</option>
                                                        <option value="Day">Day</option>
                                                        <option value="Hour">Hour</option>
                                                        <option value="Minute">Minute</option>
                                                    </select>
                                                </div>
                                                <div class="setting-element">
                                                    <label for="Destination-Type-File-Retained-Files-Count">Retained Files Count: </label>
                                                    <input type="number" pattern="[0-9]*" inputmode="numeric" name="Destination-Type-File-Retained-Files-Count" id="Destination-Type-File-Retained-Files-Count" value="31" onchange="checkNumericBoundaries(this)"><span>  Set to 0 (zero) to disable.</span>
                                                </div>
                                                <div class="setting-element">
                                                    <label for="Destination-Type-File-Output-Format">Output Format: </label>
                                                    <select name="Destination-Type-File-Output-Format" id="Destination-Type-File-Output-Format" onchange="updateDestinationDetails()">
                                                        <option value="JSON">JSON</option>
                                                        <option value="Text">Text</option>
                                                        <option value="JSON">JSON</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="Destination-Type-Splunk" class="DestinationTypeFields">
                                            <div class="setting-element">
                                                <label for="Destination-Type-Splunk-Server-URL">Server URL: </label>
                                                <input type="url" name="Destination-Type-Splunk-Server-URL" id="Destination-Type-Splunk-Server-URL" oninput="updateDestinationDetails()">
                                            </div>
                                            <div class="setting-element">
                                                <label for="Destination-Type-Splunk-Token">Splunk Token: </label>
                                                <input type="text" name="Destination-Type-Splunk-Token" id="Destination-Type-Splunk-Token" oninput="updateDestinationDetails()">
                                            </div>
                                            <div class="setting-element">
                                                <label for="Destination-Type-Splunk-Index">Splunk Index: </label>
                                                <input type="text" name="Destination-Type-Splunk-Index" id="Destination-Type-Splunk-Index" oninput="updateDestinationDetails()">
                                            </div>
                                            <div class="setting-element">
                                                <label for="Destination-Type-Splunk-Source">Splunk Source: </label>
                                                <input type="text" name="Destination-Type-Splunk-Source" id="Destination-Type-Splunk-Source" oninput="updateDestinationDetails()">
                                            </div>
                                            <div class="setting-element">
                                                <label for="Destination-Type-Splunk-Source-Type">Splunk Source Type: </label>
                                                <input type="text" name="Destination-Type-Splunk-Source-Type" id="Destination-Type-Splunk-Source-Type" oninput="updateDestinationDetails()">
                                            </div>
                                            <div class="setting-element">
                                                <label for="Destination-Type-Splunk-Host">Splunk Host: </label>
                                                <input type="url" name="Destination-Type-Splunk-Host" id="Destination-Type-Splunk-Host" oninput="updateDestinationDetails()">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </main>
        </div>
        <script>
            window.onload = function () {
                onPageLoadLogic();
            };
        </script>
    </body>
</html>
