@inject IJSRuntime JS
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>COMACON</title>
        @*Stylesheets*@
        <link rel="stylesheet" href="~/css/style_webserver.css">
        <partial name="~/Views/PartialViews/Scripts/Scripts.cshtml" />
    </head>
    <body id="myBody">
        <template id="DiagnosticsSettingsRouteProfiles">
            <div class="setting-element">
                <input type="checkbox" name="" id="input" class="Profiles" onclick="">
                <label for="label"></label>
            </div>
        </template>
        <!-- Choose Web Application Modal Window -->
        <partial name="~/Views/PartialViews/WebApplications/General/ChooseWebApplicationModal/ChooseWebApplicationModal.cshtml" />
        <!-- Copy Web Application Modal -->
        <partial name="~/Views/PartialViews/WebApplications/General/CopyWebApplicationModal/CopyWebApplicationModal.cshtml" />
        <!-- Successful save Modal -->
        <partial name="~/Views/PartialViews/WebApplications/General/SuccessfulSaveModal/SuccessfulSaveModal.cshtml" />
        <!-- Error Load Modal -->
        <partial name="~/Views/PartialViews/WebApplications/General/ErrorLoadModal/ErrorLoadModal.cshtml" />
        <!-- Connection String Test Modal -->
        <partial name="~/Views/PartialViews/WebApplications/General/ConnectionStringTestModal/ConnectionStringTestModal.cshtml" />
        <!-- Copy Complete Modal Window -->
        <partial name="~/Views/PartialViews/WebApplications/General/CopyCompleteModalWindow/CopyCompleteModalWindow.cshtml" />
        <!-- Loader Modal Window -->
        <div class="loader"></div>
        <!-- Processing Web Config Values Modal -->
        <partial name="~/Views/PartialViews/WebApplications/General/ProcessingWebConfigValuesModal/ProcessingWebConfigValuesModal.cshtml" />
        <!-- Configuration Errors Modal Window -->
        <partial name="~/Views/PartialViews/WebApplications/General/ConfigurationErrorsModal/ConfigurationErrorsModal.cshtml" />
        <!-- Unknown configuration keys modal -->
        <partial name="~/Views/PartialViews/WebApplications/General/UnknownConfigurationKeysModal/UnknownConfigurationKeysModal.cshtml" />
        <!-- New Application Configuration Modal -->
        <partial name="~/Views/PartialViews/WebApplications/General/NewApplicationConfigurationModal/NewApplicationConfigurationModal.cshtml" />
        <header>
            <div id="h1-container" class="h1-container dark_mode_titlebar">
                <div style="display:flex;justify-content:space-between;padding-left: 0.5%;">
                    <a id="COMACON-HeaderHomeLink" style="color:inherit;text-decoration: none;display: flex;align-items: center;" href=""><img src="~/images/COMACON_Logo_Edited_96px-96px.png" /><h1 b-8gj57b4bak="">COMACON</h1></a>
                    <div style="margin: 0.5% 10px;display:flex;flex-direction:column;justify-content:center;align-items:center;">
                        <input type="checkbox" class="checkbox" id="checkbox" onclick="toggleDarkLightMode(this)" style="top: -100px;">
                        <label for="checkbox" class="checkbox-label">
                            <i class="fas fa-moon">
                                <svg width="18" height="18" fill="none" stroke="#f39c12" stroke-linecap="round" stroke-linejoin="round" stroke-width="3.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79Z"></path>
                                </svg>
                            </i>
                            <i class="fas fa-sun">
                                <svg width="18" height="18" fill="none" stroke="#f39c12" stroke-linecap="round" stroke-linejoin="round" stroke-width="3.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12 7a5 5 0 1 0 0 10 5 5 0 1 0 0-10z"></path>
                                    <path d="M12 1v2"></path>
                                    <path d="M12 21v2"></path>
                                    <path d="m4.22 4.22 1.42 1.42"></path>
                                    <path d="m18.36 18.36 1.42 1.42"></path>
                                    <path d="M1 12h2"></path>
                                    <path d="M21 12h2"></path>
                                    <path d="m4.22 19.78 1.42-1.42"></path>
                                    <path d="m18.36 5.64 1.42-1.42"></path>
                                </svg>
                            </i>
                            <span class="ball"></span>
                        </label>
                        @RenderSection("SettingsButton", false)
                        @RenderSection("LogoutButton", false)
                    </div>
                </div>
                @RenderSection("LoadedWebApplicationFields", false)
                @RenderSection("CoreActionButtons", false)
            </div>
        </header>
        <!-- Main Container -->
        <div class="">
            <main role="main" class="pb-3">
                @RenderSection("core", required: false)
                <section class="body-core-section">
                    <section id="CoreSectionsButtons" class="CoreSectionsButtons">
                        <div style="display: flex; flex-direction: row;margin: 5px 0;overflow-y: auto;width: max-content;">
                            <div style="max-height: 100vh;max-width:33vh">
                                @RenderSection("CoreButtons", required: false)
                            </div>
                            @RenderSection("AuthenticationOptimizationOptions", required: false)
                        </div>
                    </section>
                    <div style="width: 100%;">
                        <h2 id="SectionTitle"></h2>
                        @RenderBody()
                        <partial name="~/Views/PartialViews/WebApplications/General/IISApplicationConfiguration/IISApplicationConfiguration.cshtml" />
                        <partial name="~/Views/PartialViews/WebApplications/General/DiagnosticsSettings/DiagnosticsSettings.cshtml" />
                    </div>
                </section>
            </main>
        </div>
        <script>
            if (sessionStorage.getItem("comaconbearertoken") != null && sessionStorage.getItem('comaconbearertoken') != undefined) {
                var token = sessionStorage.getItem('comaconbearertoken');
                fetch(sessionStorage.getItem('apiRootUrl') + '/api/Endpoint/VerifyToken', {
                    method: 'GET', // or 'POST', 'PUT', 'DELETE', etc.
                    headers: {
                        'Authorization': `Bearer ${token}`,
                        'Content-Type': 'application/json'
                    },
                })
                .then(response => {
                    setTimeout(() => {
                        if(response.ok && currentPage == "Login"){
                            window.location.href = sessionStorage.getItem('apiRootUrl') + "/core/home";
                        } else if (response.redirected) {
                            window.location.href = sessionStorage.getItem('apiRootUrl') + response.url;
                        } else if (response.status === 401){
                            console.log(response.url);
                            window.location.href = response.url;
                        }
                    }, 50);
                })
                .catch(error => console.error('Error:', error));
            } else if (currentPage != "Login") {
                window.location.href = sessionStorage.getItem('apiRootUrl') + "/core/login";
            }

            window.onload = function () {
                onPageLoadLogic();
            };
        </script>
    </body>
</html>
